:root {
  --dark-gray: #242424;
  --dark-green: #233E31;
  --muted-green: #70988F;
  --light-gray: #D5D8D5;

  --main-font: font-family: 'Merriweather', serif;
  --accent-font: font-family: 'Lato', sans-serif;
}
