@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-gray: #242424;
  --dark-green: #233E31;
  --muted-green: #70988F;
  --light-gray: #D5D8D5;
  --white: #eeeeee;
  --black: #333333;
  --blue-gray: #6b7280;
  --dark-blue: #004ab9;
  --grey-white: #f2ebfd;

  --main-font: 'Merriweather', serif;
  --accent-font: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
}
